@model List<ArtistDto>
@{
    ViewBag.Title = "Artists";
}
<h3>Browse Artists</h3>

<p>
    Select from @Model.Count() genres:
</p>
<ul class="list-group" style="width: 50%">
    @foreach (var artist in Model)
    {
        <li class="list-group-item"><a asp-controller="Store" asp-action="Browse" asp-route-id="@artist.ArtistId">@artist.Name</a></li>
    }
</ul>