@model MusicStore.Plumbing.DropDatabaseHelperClass

@{
    ViewData["Title"] = "Data Management";
    //Layout = "~/Views/Shared/_AdminMenu.cshtml";
}

<h1>Data Management</h1>

@*<style>
    div {
        background-color: lightgrey;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
    }
</style>*@


    <form method="post">
    <div style="background-color: lightgrey; border-style: solid; border: 15px solid green; padding: 50px;margin: 20px;font-size:x-large">
           @* <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="generateDatabaseCheckbox" name="generateDatabaseCheckbox">
                <label class="form-check-label" for="generateDatabaseCheckbox">
                    Generate Database
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="option1" id="option1" name="option">
                <label class="form-check-label" for="option1">
                    Option 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="option2" id="option2" name="option">
                <label class="form-check-label" for="option2">
                    Option 2
                </label>
            </div>*@
            <p><strong>Click here to genereate the Product database</strong></p>
            <p>
            <label for="generateDatabaseCheckbox">Drop Database?   </label>
            <input class="form-check-input" type="checkbox" asp-for="DropDatabase" id="dropDatabase" name="dropDatabase" style="transform: scale(2.0); margin-left: 10px;" value="true">
            <input type="hidden" asp-for="DropDatabase" value="false"/>

@*            <div class="checkbox">
                <label asp-for="DropDatabase">Drop Database?</label>
                <input asp-for="DropDatabase" style="transform: scale(2.0); margin-left: 20px;" value="true" />
            </div>
*@
            </p>
            <p class="button" style="font-size:larger">
            @*<a asp-controller="DatabaseManagement" asp-action="Create" asp-route-id="@Model">Add to cart</a>*@

            <button type="submit" asp-action="Create" asp-route-id="@Model" class="btn btn-primary">Create</button>
            </p>
        </div>

        <hr />

        <div style="background-color: lightgrey; border-style: solid; border: 15px solid green; padding: 50px;margin: 20px;font-size:x-large">
            <p><strong>Click here to Remove Current Shopping Backet Cookie</strong></p>
          
            <p class="button" style="font-size:larger">
                @*<a asp-controller="DatabaseManagement" asp-action="Create" asp-route-id="@Model">Add to cart</a>*@

            <button type="submit" asp-action="RemoveBasketCookie"  class="btn btn-primary">Remove</button>
            </p>
        </div>


    </form>



