<li class="dropdown">
    <a asp-area="" asp-controller="Store" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-area="admin" asp-controller="StoreManager" asp-action="Index">Store Manager</a>
        </li>
        <li>
            <a asp-area="admin" asp-controller="Order" asp-action="Index">View Orders</a>
        </li>
        <li>
            <a asp-area="admin" asp-controller="ShoppingCarts" asp-action="Index">View Shopping Cart</a>
        </li>
    </ul>
</li>
